/OpenData.Framework/bin/Debug/EntityFramework.SqlServer.dll
/OpenData.Framework/bin/Debug/EntityFramework.SqlServer.xml
/OpenData.Framework/bin/Debug/EntityFramework.dll
/OpenData.Framework/bin/Debug/EntityFramework.xml
/OpenData.Framework/bin/Debug/Microsoft.CSharp.dll
/OpenData.Framework/bin/Debug/OpenData.Framework.dll
/OpenData.Framework/bin/Debug/OpenData.Framework.pdb
/OpenData.Framework/bin/Debug/Script/Template.cs
/OpenData.Framework/bin/Debug/System.Data.dll
/OpenData.Framework/obj/Debug/OpenData.Framework.csproj.FileListAbsolute.txt
/OpenData.Framework/obj/Debug/OpenData.Framework.dll
/OpenData.Framework/obj/Debug/OpenData.Framework.pdb
/OpenData.Framework/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/OpenData.Framework/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/OpenData.Framework/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/OpenData.Monogo/bin/Debug/Microsoft.Owin.dll
/OpenData.Monogo/bin/Debug/Microsoft.Owin.xml
/OpenData.Monogo/bin/Debug/MongoDB.Bson.dll
/OpenData.Monogo/bin/Debug/MongoDB.Bson.xml
/OpenData.Monogo/bin/Debug/MongoDB.Driver.Core.dll
/OpenData.Monogo/bin/Debug/MongoDB.Driver.dll
/OpenData.Monogo/bin/Debug/MongoDB.Driver.xml
/OpenData.Monogo/bin/Debug/OpenData.Framework.dll
/OpenData.Monogo/bin/Debug/OpenData.Framework.pdb
/OpenData.Monogo/bin/Debug/OpenData.Monogo.dll
/OpenData.Monogo/bin/Debug/OpenData.Monogo.pdb
/OpenData.Monogo/bin/Debug/Owin.dll
/OpenData.Monogo/bin/Debug/Script/Template.cs
/OpenData.Monogo/bin/Debug/System.Data.dll
/OpenData.Monogo/obj/Debug/OpenData.Monogo.csproj.FileListAbsolute.txt
/OpenData.Monogo/obj/Debug/OpenData.Monogo.csprojResolveAssemblyReference.cache
/OpenData.Monogo/obj/Debug/OpenData.Monogo.dll
/OpenData.Monogo/obj/Debug/OpenData.Monogo.pdb
/OpenData.Monogo/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/OpenData.Monogo/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/OpenData.Monogo/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/OpenData.WebApp/bin/Antlr3.Runtime.dll
/OpenData.WebApp/bin/Antlr3.Runtime.pdb
/OpenData.WebApp/bin/EntityFramework.SqlServer.dll
/OpenData.WebApp/bin/EntityFramework.SqlServer.xml
/OpenData.WebApp/bin/EntityFramework.dll
/OpenData.WebApp/bin/EntityFramework.xml
/OpenData.WebApp/bin/Microsoft.AspNet.Identity.Core.dll
/OpenData.WebApp/bin/Microsoft.AspNet.Identity.Core.xml
/OpenData.WebApp/bin/Microsoft.AspNet.Identity.EntityFramework.dll
/OpenData.WebApp/bin/Microsoft.AspNet.Identity.EntityFramework.xml
/OpenData.WebApp/bin/Microsoft.AspNet.Identity.Owin.dll
/OpenData.WebApp/bin/Microsoft.AspNet.Identity.Owin.xml
/OpenData.WebApp/bin/Microsoft.Owin.Host.SystemWeb.dll
/OpenData.WebApp/bin/Microsoft.Owin.Host.SystemWeb.xml
/OpenData.WebApp/bin/Microsoft.Owin.Security.Cookies.dll
/OpenData.WebApp/bin/Microsoft.Owin.Security.Cookies.xml
/OpenData.WebApp/bin/Microsoft.Owin.Security.Facebook.dll
/OpenData.WebApp/bin/Microsoft.Owin.Security.Facebook.xml
/OpenData.WebApp/bin/Microsoft.Owin.Security.Google.dll
/OpenData.WebApp/bin/Microsoft.Owin.Security.Google.xml
/OpenData.WebApp/bin/Microsoft.Owin.Security.MicrosoftAccount.dll
/OpenData.WebApp/bin/Microsoft.Owin.Security.MicrosoftAccount.xml
/OpenData.WebApp/bin/Microsoft.Owin.Security.OAuth.dll
/OpenData.WebApp/bin/Microsoft.Owin.Security.OAuth.xml
/OpenData.WebApp/bin/Microsoft.Owin.Security.Twitter.dll
/OpenData.WebApp/bin/Microsoft.Owin.Security.Twitter.xml
/OpenData.WebApp/bin/Microsoft.Owin.Security.dll
/OpenData.WebApp/bin/Microsoft.Owin.Security.xml
/OpenData.WebApp/bin/Microsoft.Owin.dll
/OpenData.WebApp/bin/Microsoft.Owin.xml
/OpenData.WebApp/bin/Microsoft.Web.Infrastructure.dll
/OpenData.WebApp/bin/MongoDB.Bson.dll
/OpenData.WebApp/bin/MongoDB.Bson.xml
/OpenData.WebApp/bin/MongoDB.Driver.Core.dll
/OpenData.WebApp/bin/MongoDB.Driver.dll
/OpenData.WebApp/bin/MongoDB.Driver.xml
/OpenData.WebApp/bin/Newtonsoft.Json.dll
/OpenData.WebApp/bin/Newtonsoft.Json.xml
/OpenData.WebApp/bin/OpenData.Framework.dll
/OpenData.WebApp/bin/OpenData.Framework.pdb
/OpenData.WebApp/bin/OpenData.Monogo.dll
/OpenData.WebApp/bin/OpenData.Monogo.pdb
/OpenData.WebApp/bin/OpenData.WebApp.dll
/OpenData.WebApp/bin/OpenData.WebApp.dll.config
/OpenData.WebApp/bin/OpenData.WebApp.pdb
/OpenData.WebApp/bin/Owin.dll
/OpenData.WebApp/bin/Script/Template.cs
/OpenData.WebApp/bin/System.Web.Helpers.dll
/OpenData.WebApp/bin/System.Web.Helpers.xml
/OpenData.WebApp/bin/System.Web.Mvc.dll
/OpenData.WebApp/bin/System.Web.Mvc.xml
/OpenData.WebApp/bin/System.Web.Optimization.dll
/OpenData.WebApp/bin/System.Web.Optimization.xml
/OpenData.WebApp/bin/System.Web.Razor.dll
/OpenData.WebApp/bin/System.Web.Razor.xml
/OpenData.WebApp/bin/System.Web.WebPages.Deployment.dll
/OpenData.WebApp/bin/System.Web.WebPages.Deployment.xml
/OpenData.WebApp/bin/System.Web.WebPages.Razor.dll
/OpenData.WebApp/bin/System.Web.WebPages.Razor.xml
/OpenData.WebApp/bin/System.Web.WebPages.dll
/OpenData.WebApp/bin/System.Web.WebPages.xml
/OpenData.WebApp/bin/WebGrease.dll
/OpenData.WebApp/obj/Debug/OpenData.WebApp.csproj.FileListAbsolute.txt
/OpenData.WebApp/obj/Debug/OpenData.WebApp.csprojResolveAssemblyReference.cache
/OpenData.WebApp/obj/Debug/OpenData.WebApp.dll
/OpenData.WebApp/obj/Debug/OpenData.WebApp.pdb
/OpenData.WebApp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/OpenData.WebApp/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/OpenData.WebApp/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
