[Oo]bj/
[Bb]in/
.vs/
.nuget/
.build/
packages/
bower_components/
node_modules/
debugSettings.json
project.lock.json
*.user
*.suo
*.cache
*.docstates
/.vs
/Common/OpenData.Common/bin
/Data/OpenData.Data.Core/bin
/Data/OpenData.Data.File/bin
/Data/OpenData.Data.Monogo/bin
/Data/OpenData.Data.SQL/bin
/Framework/OpenData.Framework.Core/bin
/Framework/OpenData.Framework.User/bin
/Modules/OpenData.Security.WeChat/bin
/Sites/OpenData.Site.FrontPage/bin
/Sites/OpenData.Site.FrontPage/bin/bin
/Tests/DataTest/bin
/Common/OpenData.Common/obj
/Data/OpenData.Data.Core/obj
/Data/OpenData.Data.File/obj
/Data/OpenData.Data.Monogo/obj
/Data/OpenData.Data.SQL/obj
/Framework/OpenData.Framework.Core/obj
/Framework/OpenData.Framework.User/obj
/Modules/OpenData.Security.WeChat/obj
/Sites/OpenData.Site.FrontPage/obj
/Tests/DataTest/obj
/Sites/OpenData.Site.FrontPage/App_Data
/Sites/OpenData.Site.FrontPage/*.user
/Sites/OpenData.Site.FrontPage/log
